* {
    padding: 0;
    margin: 0;
}
/* Start Canvas */
#myCanvas{
    width: 100%;
    height: 700px;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    display: block;
    margin: 0 auto;
}
/* End Canvas */
